ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vertical-elements a {
  display: block;
  width: 170px;
  background-color: rgb(157, 214, 255);
  padding: 10px;
  text-decoration: none;
  text-align: left;
}

.home {
  color: white;
  background-color: rgb(255, 184, 53) !important;    /* !important is used to provide declarations that are of utmost importance*/
}

.horizontal-list {
  display: inline;
  float: left;
  padding: 10px;
  background-color: rgb(205, 205, 205);
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-collapse: collapse;
}

.horizontal-elements {
  display: inline;
  float: left;
  padding: 10px;
  background-color: rgb(153, 152, 152);
  border-right: 0.2px solid rgb(131, 131, 131);
}

.homev {
  color: white;
}

.addresses a {
  text-decoration: none;
}

#a li {
  padding-left: 15px;
  padding-right: 15px;
}
.first-bar {
  float: left;
}

.second-bar {
  margin-top: 60px;
  margin-left: 80px;
  float: left;
}

.vertical-bar {
  border: 1px solid black;
  padding: 10px 8px 1px 5px;
}

.horizontal-bar {
  border: 1px solid black;
  padding: 10px 0px 10px 5px;
}
