.customers {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
}

table{
  border-top: 1px solid rgb(174, 174, 174);
  border-left: 1px solid rgb(174, 174, 174);
  border-right: 1px solid rgb(174, 174, 174);
}
.customers td,
.customers th {
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #e4e4e4;
  border-right: #ddd;
  border-left: #ddd;
  border-width: 1px;
}
.customers tr:nth-child(odd) {
  background-color: white;
}

.customers tr:hover {
  background-color: #ddd;
}

#heading {
  color: white;
  background-color:#00a468;
}
